@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --font-sans: var(--font-geist-sans);
  --font-georgian: var(--font-noto-georgian);
}

body {
  font-family: var(--font-sans), var(--font-georgian), system-ui, sans-serif;
}

@keyframes shimmer {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(200%);
  }
}

.shimmer-effect {
  animation: shimmer 1.6s infinite;
}
